:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--bs-heading-font-family);
}

a {
  color: var(--bs-primary);
  transition: color 400ms ease, background 400ms ease;
}

.iq-slider {
  overflow: hidden;
  overflow-x: auto;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25;
}

.iq-scroller-effect {
  /* Scroll Track */
  /* Scroll Handle */
  /* Scroll Handle on hover */
}
.iq-scroller-effect ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 20px;
}
.iq-scroller-effect ::-webkit-scrollbar-track {
  background: var(--bs-body-bg);
  border-radius: 20px;
}
.iq-scroller-effect ::-webkit-scrollbar-thumb {
  background: #eee;
  border-radius: 20px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
}
.iq-scroller-effect ::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
  border-radius: 20px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

body {
  transition: background-color 250ms ease-in-out;
}

.user-banner {
  background-image: url("/images/Banner.png");
  background-position: center;
  height: 192px;
  background-repeat: no-repeat;
  padding: calc(var(--bs-gutter-x, 1rem) * 2.5);
  background-size: cover;
}
.user-banner h1, .user-banner h2, .user-banner h3, .user-banner h4, .user-banner h5, .user-banner h6,
.user-banner .h1, .user-banner .h2, .user-banner .h3, .user-banner .h4, .user-banner .h5, .user-banner .h6, .user-banner a, .user-banner p {
  color: inherit;
}

.iq-col-masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.iq-incoming-blogs .iq-blog-img {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.25rem;
}

.iq-upcoming-blogs > img {
  width: 16rem;
  height: 12rem;
}

.iq-trending-blog {
  height: 10.5rem;
}

.iq-top-categories {
  width: 100%;
  height: 8.45rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.iq-blog-experience {
  height: 25rem;
}

.iq-recent-post {
  height: 17rem;
}

.input-group-2 .form-control {
  border: none;
  border-bottom: 1px solid var(--bs-border-color);
  padding-right: 2.5rem;
}
.input-group-2 .form-control:focus {
  box-shadow: unset !important;
}
.input-group-2 span {
  position: absolute;
  top: 0.375rem;
  right: 0.625rem;
  z-index: 10;
}

.iq-blog-adventure {
  color: #6c757d;
}
.iq-blog-adventure:hover {
  color: var(--bs-primary) !important;
}

.blog-line-around {
  border-bottom: 1px solid var(--bs-border-color);
  text-align: center;
  line-height: 0;
}
.blog-line-around .blog-line-day {
  background: var(--bs-body-bg);
}

.iq-blog-categories .iq-categories-name {
  width: 40%;
}
.iq-blog-categories .iq-categories-indicator {
  border-bottom: 1px solid var(--bs-border-color);
  line-height: 0;
}

@media (max-width: 1199.98px) {
  .iq-incoming-blogs > img {
    width: 26rem;
  }
}
@media (max-width: 991.98px) {
  .iq-top-categories {
    height: 15rem;
  }
}
@media (max-width: 767.98px) {
  .iq-blog-experience {
    height: 10rem;
  }
}
@media (max-width: 650px) {
  .iq-upcoming-blogs, .iq-incoming-blogs {
    flex-direction: column;
  }
  .iq-upcoming-blogs > img, .iq-incoming-blogs > img {
    width: 100%;
  }
}
