.landing-pages h1 {
  font-size: 4rem;
}
.landing-pages h2 {
  font-size: 3.25rem;
}
.landing-pages h3 {
  font-size: 2.875rem;
}
.landing-pages h4 {
  font-size: 2.375rem;
}
.landing-pages h5 {
  font-size: 1.75rem;
}
.landing-pages h6 {
  font-size: 1.375rem;
}
.landing-pages p {
  font-size: 1rem;
}
.landing-pages small {
  font-size: 0.875rem;
}
.landing-pages .section-padding {
  padding: 7.5rem 0rem;
}
.landing-pages .body-bg {
  background: var(--bs-white);
}
.landing-pages .page-bg {
  background: #f9f9f9;
}
.landing-pages h1,
.landing-pages h2,
.landing-pages h3 {
  font-weight: 600;
}
.landing-pages h4,
.landing-pages h5,
.landing-pages h6 {
  font-weight: 500;
}
.landing-pages .section-card-padding {
  padding: 7.5rem 0rem 5.5rem 0rem;
}
.landing-pages .inner-card-box {
  padding: 5.625rem 0rem 3.625rem 0rem;
}
.landing-pages .inner-box {
  padding: 5.625rem 0rem;
}
.landing-pages .title-top {
  margin-top: 64px;
}
.landing-pages .sub-title {
  font-size: 0.875rem;
  font-weight: 600;
}
.landing-pages .border-color-light {
  border-color: rgba(255, 255, 255, 0.2) !important;
}
.landing-pages .line-count-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.landing-pages .line-count-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.landing-pages .line-count-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

@media screen and (max-width: 1025px) {
  .landing-pages .section-padding {
    padding: 3.75rem 0rem;
  }
  .landing-pages .inner-box {
    padding: 2.813rem 0rem;
  }
  .landing-pages .section-card-padding {
    padding: 3.75rem 0rem 2.75rem 0rem;
  }
  .landing-pages .inner-card-box {
    padding: 2.8125rem 0rem 1.8125rem 0rem;
  }
}
@media screen and (max-width: 768px) {
  .landing-pages h1 {
    line-height: 55px;
    font-size: 50px;
  }
  .landing-pages h2 {
    line-height: 42px;
    font-size: 32px;
  }
  .landing-pages h3 {
    line-height: 38px;
    font-size: 28px;
  }
  .landing-pages h4 {
    line-height: 32px;
    font-size: 22px;
  }
  .landing-pages h5 {
    line-height: 28px;
    font-size: 18px;
  }
  .landing-pages h6 {
    line-height: 26px;
    font-size: 16px;
  }
  .landing-pages .title-top {
    margin-top: 24px;
  }
}
.features-card {
  margin-top: -310px;
}

.sub-header {
  background-image: url(../images/top-header.webp);
  background-repeat: no-repeat;
  padding: 100px 0px;
  background-color: #3a57e8;
  background-size: cover;
  color: #fff;
}

.features-card {
  padding: 7.5rem 0rem 5.5rem 0rem;
}

.banner-second-img img {
  position: absolute;
  right: -208px;
}

.contact-banner {
  background: var(--bs-secondary);
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%, 0 24%);
}

.star-box h6 {
  font-size: 19.128px;
  font-weight: 400;
}
.star-box h6 span {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .banner-second-img img {
    position: relative !important;
    right: 0 !important;
  }
}
@media (max-width: 1399.98px) {
  .banner-second-img img {
    position: absolute;
    right: -60px;
  }
}
@media (max-width: 1199.98px) {
  .banner-second-img img {
    position: absolute;
    right: -24px;
  }
  .features-card {
    margin-top: -260px;
    padding: 3.75rem 0rem 0.344rem 0rem;
  }
}
@media (max-width: 991.98px) {
  .image-position {
    display: grid;
    justify-content: center;
  }
  .banner-one-app {
    padding: 3.25rem 0rem 3.125rem 0.675rem;
  }
  .features-card {
    margin-top: 0px;
    padding: 40px 0px 50px 0px;
  }
  .features-card {
    margin-top: 0px;
  }
}
input.input-email {
  background: none;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom-left-radius: unset;
}

.input-email-btn {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-bottom-right-radius: unset;
  color: #fff;
  position: relative;
  z-index: 1;
}

.input-email-btn::before {
  content: "";
  position: relative;
  border-radius: 50%;
  background-color: #3a57e8;
  border: 1px solid #3a57e8;
  color: #fff;
  transform: translate(10px, 0px);
  width: 40px;
  height: 40px;
  padding: 5px;
  left: 24px;
  z-index: -1;
}

.bottom-hr {
  border: 0.2px solid #3a57e8;
}

.input-email.form-control:focus {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
}

.footer-border {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-two {
  padding: 54px 0px;
}
.footer-two .social-media-box {
  position: absolute;
  bottom: 0;
}

@media (max-width: 991.98px) {
  .footer-two .social-media-box {
    position: unset;
  }
}
.services-box {
  padding: 6.813rem 1.813rem 2.063rem 1.813rem;
}
.services-box.card {
  background: var(--bs-gray-900);
}
.services-box.card:hover {
  background: #3a57e8;
  color: #fff;
  transition: all 400ms ease;
}
.services-box.card:hover h4, .services-box.card:hover h5, .services-box.card:hover a {
  color: #fff;
}
.services-box.card:hover svg {
  color: #fff !important;
  transition: all 400ms ease;
}

.services-box-1 {
  padding: 8.25rem 1.813rem 2.5rem 1.813rem;
}
.services-box-1.card {
  background: var(--bs-gray-900);
}
.services-box-1.card a {
  font-weight: 500;
}
.services-box-1.card:hover {
  background: #3a57e8;
  color: #fff;
  transition: all 400ms ease;
}
.services-box-1.card:hover h5, .services-box-1.card:hover a {
  color: #fff !important;
  transition: all 400ms ease;
}

.star-icon {
  height: 25px;
}

.top-feature {
  padding-bottom: 4rem;
}

.slider-circle-btn {
  position: relative;
}
.slider-circle-btn .swiper-button {
  width: 30px;
  height: 30px;
  position: absolute;
}
.slider-circle-btn .swiper-button.swiper-button-next {
  right: 0.2rem;
  left: auto;
  top: 45%;
  background: var(--bs-primary);
  border-radius: 5rem;
}
.slider-circle-btn .swiper-button.swiper-button-next:after {
  content: "next";
  font-size: 0.75rem;
  color: #fff;
}
.slider-circle-btn .swiper-button.swiper-button-prev {
  right: auto;
  left: 0.2rem;
  top: 45%;
  background: var(--bs-primary);
  border-radius: 5rem;
}
.slider-circle-btn .swiper-button.swiper-button-prev:after {
  content: "prev";
  font-size: 0.75rem;
  color: #fff;
}

.team-image:hover {
  background: #3a57e8;
  color: #fff;
  transition: all 400ms ease;
}
.team-image:hover h6 {
  color: #fff;
  transition: all 400ms ease;
}
.team-image:hover p {
  color: #fff !important;
  transition: all 400ms ease;
}
.team-image:hover svg {
  color: #fff !important;
  transition: all 400ms ease;
}

.services {
  height: 80px;
  width: 80px;
  line-height: 80px;
}

.workbox {
  position: relative;
  z-index: 1;
}
.workbox h2 {
  position: absolute;
  color: #F9F9F9;
  font-size: 128px;
  font-weight: 800;
  text-transform: capitalize;
  left: 23px;
  z-index: -1;
}

.app-img-box {
  padding: 0px 60px;
}

@media (max-width: 991.98px) {
  .slider-circle-btn .swiper-button.swiper-button-next {
    right: 1.2rem;
  }
  .slider-circle-btn .swiper-button.swiper-button-prev {
    left: 1.2rem;
  }
}
.shape {
  top: 16px;
  left: 16px;
  position: absolute;
}
.shape img {
  opacity: 0.3;
}

.test-text {
  padding: 0em 13em;
}

#testimonial-one-slider {
  position: relative;
}
#testimonial-one-slider.slider-circle-btn .swiper-button {
  width: 30px;
  height: 30px;
  position: absolute;
}
#testimonial-one-slider.slider-circle-btn .swiper-button.swiper-button-next {
  right: 0.2rem;
  left: auto;
  top: 45%;
  background: var(--bs-primary);
  border-radius: 5rem;
}
#testimonial-one-slider.slider-circle-btn .swiper-button.swiper-button-next:after {
  content: "next";
  font-size: 0.75rem;
  color: #fff;
}
#testimonial-one-slider.slider-circle-btn .swiper-button.swiper-button-prev {
  right: auto;
  left: 0.2rem;
  top: 45%;
  background: var(--bs-primary);
  border-radius: 5rem;
}
#testimonial-one-slider.slider-circle-btn .swiper-button.swiper-button-prev:after {
  content: "prev";
  font-size: 0.75rem;
  color: #fff;
}

.user-test-img {
  height: 60px;
  width: 60px;
}

@media (max-width: 991.98px) {
  .test-text {
    padding: 0em;
  }
}
.card-block {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.card-block.card-stretch {
  align-items: stretch;
}
.card-block.card-height-half {
  height: calc(50% - 2rem);
}
.card-block.card-height {
  height: calc(100% - 2rem);
}

.blog-card:hover {
  background: #3a57e8;
  transition: all 400ms ease;
}
.blog-card:hover .sub-title {
  color: #fff !important;
  transition: all 400ms ease;
}
.blog-card:hover a.h5 {
  color: #fff !important;
  transition: all 400ms ease;
}
.blog-card:hover svg {
  color: #fff !important;
  transition: all 400ms ease;
}

.header-one.offcanvas-lg {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.landing-header ul.navbar-nav > li > .nav-link {
  font-weight: 500;
  font-size: 1rem;
  color: #8A92A6;
  padding-left: 1.5em;
}
.landing-header ul.navbar-nav > li > .nav-link.active {
  color: #3a57e8;
}
.landing-header ul.navbar-nav > li > .nav-link:hover {
  color: #3a57e8;
  transition: all 400ms ease;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
  transition: all 400ms ease;
}

.landing-header .navbar.hover-nav ul.navbar-nav .nav-item .nav-link {
  color: #8A92A6;
}
.landing-header .navbar.hover-nav ul.navbar-nav .nav-item .nav-link.active {
  color: #3a57e8;
}
.landing-header .navbar.hover-nav ul.navbar-nav .nav-item .nav-link:hover {
  color: #3a57e8;
  transition: all 400ms ease;
}

@media (max-width: 1199.98px) {
  .landing-header ul.navbar-nav > li > .nav-link {
    padding: 0.5em 1em 1em;
  }
}
/*---------------------------------------------------------------------
			  Scrollbar
-----------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0.313em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3a57e8;
  border-radius: 0.313em;
}

.iq-product-custom-card {
  box-shadow: unset;
  transition: all 400ms ease;
}
.iq-product-custom-card .iq-product-hover-img .iq-product-info {
  position: absolute;
  right: 1rem;
  text-align: center;
  opacity: 0;
  transform: translateY(30px);
  transition: all 400ms ease;
}
.iq-product-custom-card .iq-product-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  min-height: 18.75rem;
  max-height: 18.75rem;
  height: 18.75rem;
  background-color: rgba(0, 31, 77, 0.1);
  border-top-left-radius: var(--bs-border-radius-lg);
  border-top-right-radius: var(--bs-border-radius-lg);
}

.hopeui_style-btn-container {
  position: absolute;
  top: 1em;
  left: auto;
  right: 1.5em;
}
.hopeui_style-btn-container .add_to_cart {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0;
  text-align: center;
  display: inline-flex;
  align-items: center;
  background: #fff;
  color: #3a57e8;
  border-radius: 100%;
  margin: 0;
  justify-content: center;
}

.iq-ribbon-effect {
  position: absolute;
  display: flex;
  background: #fff;
  z-index: 100;
  left: 2rem;
  top: 0rem;
  padding: 0.625rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  white-space: nowrap;
  text-transform: UPPERCASE;
}
.iq-ribbon-effect > span {
  transform: rotate(180deg);
}
.iq-ribbon-effect::after {
  content: "";
  position: absolute;
  bottom: -1.5em;
  right: 0;
  width: 0;
  height: 0;
  border-top: 1.5em solid #fff;
  border-left: 1.5em solid transparent;
}
.iq-ribbon-effect:before {
  content: "";
  position: absolute;
  bottom: -1.5em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 1.5em solid #fff;
  border-right: 1.5em solid transparent;
}

@media (max-width: 767.98px) {
  .product-vertical-slider {
    padding: 0rem;
  }
  .product-vertical-slider .slider__flex {
    flex-direction: column-reverse;
  }
  .product-vertical-slider .slider__col {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
    margin-top: 1.5rem;
    width: 100%;
  }
  .product-vertical-slider .slider__images {
    width: 100%;
  }
  .product-vertical-slider .slider__thumbs {
    height: 100px;
    width: calc(100% - 96px);
    margin: 0 1rem;
  }
  .product-vertical-slider .slider__prev,
  .product-vertical-slider .slider__next {
    transform: rotate(272deg);
  }
}
@media (max-width: 575.98px) {
  .iq-product-offers {
    grid-template-columns: 1fr;
  }
  .iq-product-list-view .card-body .iq-list-view-right > div {
    justify-content: center;
  }
  .iq-product-list-left-side {
    flex: 1;
  }
  .iq-input-group-search {
    display: none;
  }
  .trending-img {
    width: 100% !important;
  }
  .iq-product-list-view .card-body .iq-list-view-left div:last-child {
    margin-bottom: 1rem;
  }
}
@media print {
  @page {
    margin: 0;
  }
  .ecommerce-billing .sidebar-default, .ecommerce-billing .iq-navbar, .ecommerce-billing .btn-setting, .ecommerce-billing footer {
    display: none;
  }
  .ecommerce-billing .btn {
    display: none;
  }
}
.iq-qty-btn .btn:focus {
  box-shadow: unset;
}
.iq-qty-btn .input-display {
  width: 2.6rem;
  cursor: text;
  color: var(--bs-body-color);
}
.iq-qty-btn .input-display:hover {
  color: var(--bs-body-color) !important;
  background: transparent !important;
}

#testimonial-one-slider {
  position: relative;
}
#testimonial-one-slider .slider-circle-btn .swiper-button {
  width: 30px;
  height: 30px;
  position: absolute;
}
#testimonial-one-slider .slider-circle-btn .swiper-button.swiper-button-next {
  right: 0.2rem;
  left: auto;
  top: 45%;
  background: var(--bs-primary);
  border-radius: 5rem;
}
#testimonial-one-slider .slider-circle-btn .swiper-button.swiper-button-next:after {
  content: "next";
  font-size: 0.75rem;
  color: #fff;
}
#testimonial-one-slider .slider-circle-btn .swiper-button.swiper-button-prev {
  right: auto;
  left: 0.2rem;
  top: 45%;
  background: var(--bs-primary);
  border-radius: 5rem;
}
#testimonial-one-slider .slider-circle-btn .swiper-button.swiper-button-prev:after {
  content: "prev";
  font-size: 0.75rem;
  color: #fff;
}

.custom-btn.btn-white {
  background: #fff;
  color: #000;
}
.custom-btn.btn-white:hover {
  background: #F9F9F9;
  transition: all 400ms ease;
}
.custom-btn.btn.btn-outline-light:hover {
  background: #fff;
  transition: all 400ms ease;
}

.about-icon-box span {
  font-size: 0.75rem;
  font-weight: 500;
}

.contact-detail {
  text-align: right;
}

.contact-detail-card.card .services {
  background: rgba(58, 87, 232, 0.2);
}
.contact-detail-card:hover.card {
  background: #3a57e8;
  transition: all 400ms ease;
}
.contact-detail-card:hover.card .services {
  background: #fff;
  transition: all 400ms ease;
}
.contact-detail-card:hover.card h5, .contact-detail-card:hover.card p {
  color: #fff;
  transition: all 400ms ease;
}

.client-box {
  position: relative;
  margin-top: -70px;
}

@keyframes translateinfinite {
  100% {
    transform: translateX(-2160px);
  }
}
.client-list {
  overflow-x: hidden;
}
.client-list ul.client-mrquee {
  white-space: nowrap;
}
.client-list ul.client-mrquee li.highway-car {
  animation: translateinfinite 25s linear infinite;
}

.faq .accordion-button.h5 {
  font-size: 1.75rem;
  color: var(--bs-heading-color);
}
.faq .accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
}

.custom-icon {
  width: 154px;
  height: 154px;
  background: #fff;
  line-height: 154px;
  text-align: center;
  border-radius: 50%;
}
.custom-icon.custom-box {
  margin-top: 4rem;
}
.custom-icon img {
  filter: brightness(0.5);
}
.custom-icon:hover {
  background: #3a57e8;
  transition: all 400ms ease;
}
.custom-icon:hover img {
  filter: grayscale(1);
  transition: all 400ms ease;
}

.feature-card:hover.card {
  background: #3a57e8;
  transition: all 400ms ease;
}
.feature-card:hover.card .services {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.feature-card:hover.card svg path {
  fill: #fff;
}
.feature-card:hover.card h6, .feature-card:hover.card p, .feature-card:hover.card a {
  color: #fff;
}

.pricing-card:hover {
  transition: all 400ms ease;
  background: #3a57e8;
}
.pricing-card:hover .border {
  border-color: #F9F9F9;
}
.pricing-card:hover p, .pricing-card:hover h4, .pricing-card:hover h6 {
  color: #fff !important;
  transition: all 400ms ease;
}
.pricing-card:hover li {
  color: #fff;
  transition: all 400ms ease;
}
.pricing-card:hover li svg {
  color: #fff !important;
  transition: all 400ms ease;
}
.pricing-card:hover .btn.btn-primary {
  background: #fff !important;
  color: #000;
}

.contact-box .form-control {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
}
.contact-box .form-check-input {
  background: transparent;
  border-color: rgba(255, 255, 255, 0.1);
}

.iq-col-masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.iq-blog-experience {
  height: 25rem;
}

.iq-recent-post {
  height: 17rem;
}

.iq-blog-adventure {
  color: #6c757d;
}
.iq-blog-adventure:hover {
  color: var(--bs-primary) !important;
}

.iq-blog-categories .iq-categories-name {
  width: 40%;
  font-weight: 600;
  font-size: 1rem;
}
.iq-blog-categories .iq-categories-indicator {
  border-bottom: 1px solid #adb5bd;
  line-height: 0;
}

@media (max-width: 1199.98px) {
  .iq-incoming-blogs > img {
    width: 26rem;
  }
}
@media (max-width: 991.98px) {
  .iq-top-categories {
    height: 15rem;
  }
}
@media (max-width: 1199.98px) {
  .client-box {
    position: relative;
    margin-top: 0px;
  }
  .custom-icon.custom-box {
    margin-top: 0rem;
  }
}
@media screen and (max-width: 992px) {
  .contact-detail {
    text-align: center;
  }
  .client-box {
    padding: 0rem 1rem;
  }
}
.video-box {
  background-image: url(../images/home-3/fullbanner.webp);
  background-size: cover;
  height: 630px;
}

.iq-popup-video .iq-video-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.iq-popup-video .iq-video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 9;
}
.iq-popup-video .iq-fslightbox-img a img.img-fluid {
  max-width: 100%;
}

.waves {
  position: absolute;
  top: 50%;
  background: transparent;
  left: 50%;
  width: 25px;
  height: 25px;
  margin-left: -12px;
  margin-top: -12px;
  border-radius: 50%;
  backface-visibility: hidden;
  background: #3a57e8;
}
.waves::before {
  content: "";
  position: absolute;
  background-color: #fff;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  animation: wave-animate 3s infinite ease-out;
}
.waves::after {
  content: "";
  position: absolute;
  background-color: #fff;
  margin-left: -12px;
  margin-top: -12px;
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  animation: wave-animate 3s 1.5s infinite ease-out;
}

@keyframes wave-animate {
  0% {
    transform: scale(0);
    opacity: 1;
    transform-origin: center;
  }
  100% {
    transform: scale(3);
    opacity: 0;
    transform-origin: center;
  }
}
@media (max-width: 1199.98px) {
  .video-box {
    height: 370px;
  }
}
@media (max-width: 991.98px) {
  .video-box {
    height: 280px;
  }
}
@media (max-width: 767.98px) {
  .video-box {
    height: 136px;
  }
}
